footer .search input {
  width: 54%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #1F5779;
}

footer .search-box .search ::-webkit-input-placeholder {
	color: #1F5779;
}

footer .search-box .search :-moz-placeholder {
	color: #1F5779;
}

footer .search-box{
  padding: 8%;
  background-image: url(../images/about-us-banner.jpg);
}

footer .search-box:before {
  opacity: 0.4;
  background-color: #6198BA;
}

footer .search span {
  font-family: "HelveticaNeue-Medium";
  font-size: 20px;
  margin-right: 20px;
}

footer .reference {
  padding: 20px 10%;
}

footer .reference .links {
  float: left;
}

footer .reference a {
  text-decoration: none;
  margin-right: 10px;
  color: #9AAFBB;
  font-size: 13px;
}
