/* line 1, ../sass/footer.scss */
footer .search input {
  width: 54%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #1F5779;
}

/* line 7, ../sass/footer.scss */
footer .search-box {
  padding: 8%;
  background-image: url(../images/about-us-banner.jpg);
}

/* line 12, ../sass/footer.scss */
footer .search-box:before {
  opacity: 0.4;
  background-color: #6198BA;
}

/* line 17, ../sass/footer.scss */
footer .search span {
  font-family: "HelveticaNeue-Medium";
  font-size: 20px;
  margin-right: 20px;
}

/* line 23, ../sass/footer.scss */
footer .reference {
  padding: 20px 10%;
}

/* line 27, ../sass/footer.scss */
footer .reference .links {
  float: left;
}

/* line 31, ../sass/footer.scss */
footer .reference a {
  text-decoration: none;
  margin-right: 10px;
  color: #9AAFBB;
  font-size: 13px;
}
