/* line 1, ../sass/how-it-works.scss */
.how-it-works:after {
  clear: both;
}

/* line 5, ../sass/how-it-works.scss */
.how-it-works section {
  float: left;
  width: 13.3333%;
  padding: 0 10%;
}

/* line 11, ../sass/how-it-works.scss */
.how-it-works section img {
  width: 45%;
}
