/* line 5, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/header.scss */
.search-box {
  padding: 18%;
  position: relative;
  color: white;
  font-family: "HelveticaNeue-light";
  line-height: 30px;
  background-image: url(../images/momentum-bg.jpg);
  background-size: cover;
  background-position: center center;
}

/* line 12, ../sass/header.scss */
.search-box:before {
  content: " ";
  background-color: #226994;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 23, ../sass/header.scss */
.search-box * {
  position: relative;
}

/* line 27, ../sass/header.scss */
.search-box h1 {
  font-family: "HelveticaNeue-Medium";
  font-size: 25px;
}

/* line 32, ../sass/header.scss */
.search-box p {
  font-size: 14px;
  opacity: 0.7;
}

/* line 37, ../sass/header.scss */
.search-box form {
  margin-top: 1%;
}

/* line 41, ../sass/header.scss */
.search {
  width: 70%;
  margin: auto;
  margin-top: 2%;
  line-height: 50px;
  font-size: 16px;
  position: relative;
}

/* line 50, ../sass/header.scss */
.search input {
  border: none;
  width: 84%;
  line-height: inherit;
  bottom: 0;
  text-indent: 10px;
  font-size: inherit;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px 0px 0px 5px;
  outline: none;
}

/* line 63, ../sass/header.scss */
.search a {
  bottom: 0;
  background-color: green;
  display: inline-block;
  line-height: inherit;
  border: 1px solid green;
  width: 14%;
  border-radius: 0px 5px 5px 0px;
  text-transform: uppercase;
}

/* line 1, ../sass/how-it-works.scss */
.how-it-works:after {
  clear: both;
}

/* line 5, ../sass/how-it-works.scss */
.how-it-works section {
  float: left;
  width: 13.3333%;
  padding: 0 10%;
}

/* line 11, ../sass/how-it-works.scss */
.how-it-works section img {
  width: 45%;
}

/* line 1, ../sass/why-choose-us.scss */
.why-choose-us:after {
  clear: both;
}

/* line 5, ../sass/why-choose-us.scss */
.why-choose-us section {
  float: left;
  width: 30%;
  padding: 0 10%;
  margin-bottom: 15px;
}

/* line 12, ../sass/why-choose-us.scss */
.why-choose-us .group::after {
  clear: both;
  content: " ";
}

/* line 17, ../sass/why-choose-us.scss */
.why-choose-us section img {
  float: left;
  width: 10%;
  margin-right: 10%;
  margin-top: 15px;
}

/* line 24, ../sass/why-choose-us.scss */
.why-choose-us section .description {
  display: inline-block;
  float: left;
  width: 75%;
  text-align: left;
  padding-top: 0;
}

/* line 1, ../sass/feedback.scss */
.feedback a:visited {
  color: #1F5779;
}

/* line 5, ../sass/feedback.scss */
.feedback a {
  text-decoration: none;
  padding: 12px 3px;
  display: inline-block;
  width: 13%;
  border: 1px #1F5779 solid;
  font-family: "HelveticaNeue-Medium";
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* line 17, ../sass/feedback.scss */
.feedback a:first-child {
  border-right: none;
  color: white;
  background-color: #1F5779;
}

/* line 23, ../sass/feedback.scss */
.feedback .authors div {
  display: inline-block;
  margin: auto 30px;
  border-radius: 50%;
  position: relative;
}

/* line 30, ../sass/feedback.scss */
.feedback .authors div::before {
  content: " ";
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

/* line 42, ../sass/feedback.scss */
.feedback .authors div.active::before {
  opacity: 0.1;
}

/* line 46, ../sass/feedback.scss */
.feedback .authors img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

/* line 52, ../sass/feedback.scss */
.feedback .authors {
  margin-top: 50px;
}

/* line 56, ../sass/feedback.scss */
.feedback .authors .active img {
  border: 5px #f1f1f1 solid;
}

/* line 60, ../sass/feedback.scss */
.feedback .authors div.active {
  border: 1px #B3B0B0 solid;
}

/* line 1, ../sass/footer.scss */
footer .search input {
  width: 54%;
}

/* line 5, ../sass/footer.scss */
footer .search-box {
  padding: 10%;
  background-image: url(../images/about-us-banner.jpg);
}

/* line 10, ../sass/footer.scss */
footer .search-box:before {
  opacity: 0.4;
  background-color: #6198BA;
}

/* line 15, ../sass/footer.scss */
footer .search span {
  font-family: "HelveticaNeue-Medium";
  font-size: 20px;
  margin-right: 20px;
}

/* line 21, ../sass/footer.scss */
footer .reference {
  padding: 20px 10%;
}

/* line 25, ../sass/footer.scss */
footer .reference .links {
  float: left;
}

/* line 29, ../sass/footer.scss */
footer .reference a {
  text-decoration: none;
  margin-right: 10px;
  color: #9AAFBB;
  font-size: 13px;
}

/* line 9, ../sass/style.scss */
body {
  font-size: 62.5%;
  background-color: #5e7277;
  text-align: center;
  font-family: "HelveticaNeue-Light";
}

/* line 16, ../sass/style.scss */
.container {
  background-color: #f1f1f1;
  border-top: 1px white solid;
  border-bottom: 1px #e2e1e1 solid;
  padding-left: 5%;
  padding-right: 5%;
  overflow: auto;
  padding-bottom: 5%;
}

/* line 26, ../sass/style.scss */
.container h2 {
  font-size: 17px;
  font-family: "HelveticaNeue-Medium";
  line-height: 50px;
  color: #1F5779;
}

/* line 33, ../sass/style.scss */
.container p {
  font-family: "HelveticaNeue-Light";
  font-size: 13px;
  color: #9AAFBB;
  line-height: 18px;
}

/* line 40, ../sass/style.scss */
.container header {
  text-transform: uppercase;
  margin-bottom: 80px;
  margin-top: 30px;
}
