/* line 1, ../sass/why-choose-us.scss */
.why-choose-us:after {
  clear: both;
}

/* line 5, ../sass/why-choose-us.scss */
.why-choose-us section {
  float: left;
  width: 30%;
  padding: 0 10%;
  margin-bottom: 15px;
}

/* line 12, ../sass/why-choose-us.scss */
.why-choose-us .group::after {
  clear: both;
  content: " ";
}

/* line 17, ../sass/why-choose-us.scss */
.why-choose-us section img {
  float: left;
  width: 10%;
  margin-right: 10%;
  margin-top: 15px;
}

/* line 24, ../sass/why-choose-us.scss */
.why-choose-us section .description {
  display: inline-block;
  float: left;
  width: 75%;
  text-align: left;
  padding-top: 0;
}
